/.vscode
/binarytern.exe
/bshsort.dat
/build
/data.dat
/lottery.exe
/plot.bat
/plot.scf
/plot1.bat
/plot1.scf
/plot2.bat
/plot2.png
/plot2.scf
/plot3.bat
/plot3.png
/plot3.scf
/plot4.bat
/plot4.png
/plot5.bat
/plot5.png
/plot6.bat
/plot6.png
/plot6.scf
/qsort.dat
/quicksort.exe
/search_steps.dat
/sort.exe
/sorting.exe
/timepass.exe
/timing_data.dat
/w2t1.exe
/w2t2.exe
/w2t21.exe
/w2t22.exe
/w3t1.exe
/w3t2.exe
/w3t3.exe
/w3t4.exe
/w3t5.exe